<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>re:fi.64</vendor>
  <vendor_url>https://github.com/kirbyfan64/isolatekit</vendor_url>

  <action id="com.refi64.isolatekit.run">
    <description>Run IsolateKit</description>
    <message>Authentication is required to use IsolateKit</message>
    <icon_name>audio-x-generic</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/ik</annotate>
  </action>

</policyconfig>
