name=fedora
type=base
props=(version)
rel='2018-05-01T21:48:09'

prop_version=28

fn create {
  dir=Container
  if (~ $prop_version 2[1-7]) dir=Docker

  url=https://dl.fedoraproject.org/pub/fedora/linux/releases/$prop_version/$dir/x86_64/images
  ikget $url images.html
  files=`{grep -o 'Fedora-'$dir'-Base-'$prop_version'-[^"<]*' images.html}  # `
  ikget $url/$files(1) fedora.txz

  ikextract -u fedora.txz . '*/layer.tar'
  ikextract layer.tar $target
}

fn setup {
  dnf upgrade -y --refresh
  echo 'exec /bin/bash' > /.isolatekit-enter
}
