name=fedora
type=base
props=(version)
rel='2018-03-06T00:10:51'

prop_version=27

fn create {
  url=https://dl.fedoraproject.org/pub/fedora/linux/releases/$prop_version/Docker/x86_64/images
  ikget $url images.html
  files=`{grep -o 'Fedora-Docker-Base-27-[^"<]*' images.html}  # `
  ikget $url/$files(1) fedora.txz

  ikextract -u fedora.txz . '*/layer.tar'
  ikextract layer.tar $target
}

fn setup {
  dnf upgrade -y --refresh
  echo 'exec /bin/bash' > /.isolatekit-enter
}
